<a href="https://colab.research.google.com/github/adamyie/python_studies/blob/main/Google_Advanced_Data_Analytics_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION 1
### print x from my_list

In [ ]:
my_list = ["lamborghini", "ferrari", "mclaren"]
for x in my_list:
    print(x)

lamborghini
ferrari
mclaren

In [ ]:
magic = "hocus pocus"
print(magic)

hocus pocus

# SECTION 2
### create a Spaceship class

In [ ]:
import random
class Spaceship:
    # Class attribute
    tractor_beam = 'off'

    # Instance attributes
    def __init__(self, name, kind):
        self.name = name
        self.kind = kind
        self.speed = None
        self.hull = self.hull

    # Instance methods
    def warp(self, warp):
        self.speed = warp
        print(f'Warp {warp}, engage!')

    def tractor(self):
        if self.tractor_beam == 'off':
            self.tractor_beam = 'on'
            print('Tractor beam on.')
        else:
            self.tractor_beam == 'off'
            print('Tractor beam off.')

    def hull(self, damage):
        self.hull = 10000
        self.struck = self.hull - damage
        # subtract damage from current health
        print(f'We got hit, {hull} shields left!')

In [ ]:
# Create an instance of the Spaceship class (i.e. "instantiate")
ship = Spaceship('Atlantis', '1st Class Battleship')

# Check ship's name
print(ship.name)

# Check what kind of ship it is
print(ship.kind)

# Check tractor beam status
print(ship.tractor_beam)

# Check health status
print(ship.hull)

Atlantis
1st Class Battleship
off
<bound method Spaceship.hull of <__main__.Spaceship object at 0x1058540b0>>

In [ ]:
# Set warp speed
ship.warp(7)

# Check speed
ship.speed

Warp 7, engage!

7

In [ ]:
# Toggle tractor beam
ship.tractor()

# Check tractor beam status
print(ship.tractor_beam)

Tractor beam on.
on

In [ ]:
import random
# Ship got hit by a rogue missile
ship.hull(random.randint(1, 100))

TypeError: 'int' object is not callable

# Section 3
### Expression Assignment

In [ ]:
# Assign the starting XI of a football team into a variable called 'age_list'
age_list = [35, 21, 25, 22, 17, 16, 18, 17, 28, 20, 32]

# Asign the new variable as the max age in the list
max_age = max(age_list)

# print the variable
print(max_age)

# Convert the new variable as str type
max_age = str(max(age_list))
max_age

35

'35'

# Section 4
### Python syntaxes

In [ ]:
# example of a function
def to_celsius(x):
    '''Convert Fahrenheit to Celsius'''
    return (x-32) * 5/9

to_celsius(75)

23.88888888888889

In [ ]:
# example of a conditional statement
number = -4

if number > 0:
    print('Number is positive.')
elif number == 0:
    print('Number is zero.')
else:
    print('Number is negative.')

Number is negative.

In [ ]:
print(33 > 12 or 9 < 7)

True

# Section 5
### Python Functions

In [ ]:
def greeting(name):
    # In here greeting will be the defined function and 'name' is the parameter
    print('Welcome, ' + name + ' !')
    print('You are part of the team!')

greeting('Rebecca')

Welcome, Rebecca !
You are part of the team!

In [ ]:
def area_triangle(base, height):
    # here we use the return function to allow two arguments in the parameter
    return base * height / 2

# find the total area of two triangles using the newly defined function
area_a = area_triangle(5, 8)
area_b = area_triangle(4, 6)
total_area = area_a + area_b

print(total_area)

32.0

In [ ]:
def get_seconds(hours, minutes, seconds):
    # here we have 3 different arguments in the parameter
    total_seconds = 3600 * hours + 60 * minutes + seconds
    return total_seconds

# calculate the time
seconds_a = get_seconds(2, 30, 30)
seconds_b = get_seconds(2, 15, 5)
total_time = seconds_a + seconds_b

print(total_time, 'seconds')

17135 seconds

In [ ]:
# this is an example of a duplicated unreusable function
name = 'Peter Parker'
number = len(name) * 2
print("Hello" + name +", Your lucky number is " + str(number))

name = 'Mary Jane'
number = len(name) * 2
print("Hello " + name +", Your lucky number is " + str(number))

HelloPeter Parker, Your lucky number is 24
Hello Mary Jane, Your lucky number is 18

In [ ]:
# this is a reusable and well defined function
def lucky_number(name):
    number = len(name) * 2
    print("Hello " + name +", your lucky number is " + str(number))

lucky_number("Harry Osborne")

Hello Harry Osborne, your lucky number is 26

In [ ]:
# here is an example of a incomprehensive code
a = input(5); y = 1

for i in range(int(a)):
    y = y * (i + 1)
    print(y)
    break

5 9

1

In [ ]:
# now, here is a more well defined code
def factorial(n):
    # Exclude 0 as product, start with 1
    y = 1
    for i in range(int(n)):
        y = y * (i + 1)
    return y

# Enter a numerical value between 1 - 9 in the command line that appears
input_num = input(1)

# Apply a factorial function to an integer input
print(factorial(input_num))

1 2

2

In [ ]:
def seed_calculator(fountain_side, grass_width):
    '''
    Calculate the number of kilograms of grass seed needed for a border around a square fountain.

        Parameters:
            fountain_side(num): length of 1 sude of fountain in meters
            grass_width (num): width of grass border in meters

        Returns:
            seed (float): amount of seed (kg) needed for
    '''
    # Area of fountain
    fountain_area = fountain_side**2
    # Total area
    total_area = (fountain_side + 2 * grass_width) ** 2
    # Area of grass border
    grass_area = total_area - fountain_area
    # Amount of seed needed (35 g/sq.m)
    seed = grass_area * 35
    # Convert to kg
    seed = seed / 1000

    return seed

seed_calculator(15, 85)

1190.0

In [ ]:
input(write your message)

*THIS IS A NOTE*

# **Section 6**
### Conditional Statements

In [ ]:
x = 3
number = [3, 6, 8, 9]
print(x < len(number))

True

In [ ]:
print(x > len(number) or x == min(number))

True

In [ ]:
def hint_username(username):
    if len(username) < 8:
        TypeError("Invalid username. Must be at least 8 characters long.")
    else:
        print("Valid username.")
# ELSE is a reserved keyword that executes whe preceding conditions evaluate as FALSE
# The ELSE statement lets us set a piece of code to run only when the condition of the IF statement is False

In [ ]:
x = 5 % 2
y = 11 % 3
print(x)
print(y)

# However even numbers are all multiples of two
# wWhich means the remainder will always return 0
z = 100 % 2
print(z)

1
2
0

In [ ]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

In [ ]:
x = is_even(9)
y = is_even(8)
print(x)
print(y)

False
True

In [ ]:
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    else:
        if len(username) > 15:
           print("Invalid username. Must be less than 15 characters long.")
        else:
            print("Username is valid.")